@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
            font-family: 'NasalizationRg-Regular' ;
            src: url('fontes/NasalizationRg-Regular/nasalization rg.ttf') format('truetype');
        }

@font-face {
            font-family: 'Prestige-Signature' ;
            src: url('fontes/Prestige-Signature-Serif-Demo/Prestige Signature Serif - Demo.ttf') format('truetype');
        }

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

header {
  min-height: clamp(360px, 90vh, 950px);
  margin: 20px;

  background-image: url("imagens/51-header.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;

  border-radius: 10px;

  position: relative;
  z-index: 10;
}

#rt3 {
  margin: 72px 0px 0px 19px;
  width: 2%;
  height: 4%;
}


#rt2 {
  margin: 0px 0px 0px 19px;
  width: 2%;
  height: 4%;
}


#rt1 {
   margin: 0px 0px 0px 19px;
  width: 2%;
  height: 4%;
}


header nav#top {
  padding: 30px 0;
  font-size: 13px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 35px;
  width: 100%;
}

a {
  color: beige;
  text-decoration: none;
}

header h1 {
  font-size: 70px;;
  line-height: 2;
  color: rgb(255, 255, 255);
  margin: 122px 0px 0px 0px;
  text-align: center;
}

header #marca {
  font-size: 12px;
  line-height: 1.1;
  color: rgb(255, 255, 255);
  margin: 40px -10px 1px 102px;
}


main {
  background-color: #ffffff;
}

article.primeiro {
  background-color: #ffffff;
  border-radius: 10px;
  margin: -336px 20px 0px 20px;
  padding: 96px 50px;
  
  display: grid;
  gap: 60px;
}

div.primeiro-texto {
  background-color: #f5e79f00;
}

.primeiro-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.primeiro-img img {
  width: 100%;
  display: block;
}

.primeiro-img img:nth-child(2) {
  transform: translateY(-40px);
}

div #vitrea {
   margin: -204px 0px 0px -428px;
}

div #curvatto {
  width: clamp(218px, 25.5vw, 520px);
  margin: -242px -250px 44px 36px;
}

div #cortada {
  position: absolute;
  width: clamp(234px, 26vw, 91px);
  margin: -171px 0px 0px 287px;
}



article.segundo {
  background-color: #e4e3e3;
  border-radius: 20px;
  margin: 113px  -50px 6px 17px;
  padding-top: 205px;
  height: 590px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(2, 800px);
  gap: 100px;
  justify-content: space-between;
}


div #video {
  height: 550px;
    margin: -117px -1px 4px 131px
}

div #circulo {
    position: absolute;
    width: clamp(76px, 2vw, 423px);
    right: 71%;
    top: 228%;
}

div #play {
    position: absolute;
    width: clamp(36px, 2vw, 72px);
    right: 72%;
    top: 230%;
}

article div.segundo-texto {
  margin: -64px 55px 29px -77px
}

article.terceiro {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 141px 0px 0px 0px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 14px;
    row-gap: 77px;
    align-items: center;
    padding: 0px 181px 0px 197px;
}

.terceiro .item:nth-child(even) {
  transform: translateY(80px);
}


.grey {
  font-size: 20px;
  font-family: "PierSans";
  color: rgb(179, 180, 177);
  line-height: 1.3;
  text-align: justify;
}

.gold {
  font-size: 20px;
  font-family: "PierSans";
  color: #bfa373;
  line-height: 1.091;
}



h2 {
  font-size: 58px;
  font-family: "EleganteClassica";
  line-height: 1;
}

article h2.black {
font-size: 40px;
  font-family: "PierSans";
  color: rgb(0, 0, 0);
  line-height: 1.3;
  text-align: center;
}

footer {
  background-image: url(imagens/logo-footer.png);
  background-repeat: no-repeat;
  margin: 162px  20px 10px 20px;
  height: 322px;
  padding: 0px 3px;
  border-radius: 20px;
  font-family: Arial, sans-serif;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
}


.caixas {
  background-color: rgba(250, 246, 246, 0);
  color: #CAB19D;
  margin: 70px;
  width: 300px;
  height: 50px;
}

footer #B {
  margin: 84px 30px 20px 23px;

}

footer #E {
  margin: 00px 30px 0px 86px;
}

footer #F {
      margin: -3px 30px 0px 50px;
}

footer #G {
      margin: -3px 30px 0px 65px;
}

footer #H {
  margin: -3px 4px 32px 86px
}

footer #A {
  color: #ffffff;
}

footer #D {
  color: #b4b4b4;
  margin: 5%;
  position: relative;
}

#linkedin {
  background-image: url("Layer 34.png");
  position: absolute;
  left: 1660px;
  top: 3563px;
  left: 270px;
  top: 17px;
  width: 16px;
  height: 16px;
  z-index: 43;
}

#linkedin-b{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1645px;
  top: 3548px;
  left: 256px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 42;
}
#youtube {
  background-image: url("Layer 33.png");
  position: absolute;
  left: 1596px;
  top: 3564px;
  left: 206px;
  top: 18px;
  width: 16px;
  height: 14px;
  z-index: 39;
}

#youtube-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1581px;
  top: 3548px;
  left: 192px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 38;
}
#facebook {
  background-image: url("Layer 32.png");
  position: absolute;
  left: 1534px;
  top: 3563px;
  left: 145px;
  top: 17px;
  width: 10px;
  height: 16px;
  z-index: 35;
}
#facebook-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1516px;
  top: 3548px;
  left: 128px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 34;
}

#x {
  background-image: url("Layer 31.png");
  position: absolute;
  left: 1467px;
  top: 3563px;
  left: 78px;
  top: 17px;
  width: 16px;
  height: 16px;
  z-index: 31;
}

#x-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1452px;
  top: 3548px;
  left: 64px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 30;
}

#instagram {
  background-image: url("Layer 30.png");
  position: absolute;
  left: 1402px;
  top: 3563px;
  left: 14px;
  top: 17px;
  width: 16px;
  height: 16px;
  z-index: 27;
}

#instagram-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1387px;
  top: 3548px;
  left: 0px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 26;
}
.Layer_23 {
  background-image: url("Layer 23.png");
  position: absolute;
  left: 1266px;
  top: 3564px;
  width: 53px;
  height: 14px;
  z-index: 22;
}

.Ellipse {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1292px;
  top: 3548px;
  width: 44px;
  height: 44px;
  z-index: 21;
}


#C {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #d9c7b0;
  padding-bottom: 6px;
  width: 320px;
}

#C input {
  background: transparent;
  border: none;
  outline: none;
  color: #d9c7b0;
  flex: 1;
}

#C input::placeholder {
  color: #d9c7b0;
  font-size: 11px;
  letter-spacing: 1px;
}

.btn-seta {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #d9c7b0;
  background: transparent;
  color: #d9c7b0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

.icone-seta {
  width: 16px;
  height: 16px;
}

.btn-seta:hover {
  background: #d9c7b0;
  color: #020302;
}

.btn-seta:hover .icone-seta {
  transform: translateX(2px);
  transition: transform 0.3s ease;
}

#seta-position {
  position: absolute;
  left: 62.5%;
}