@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
            font-family: 'NasalizationRg-Regular' ;
            src: url('fontes/NasalizationRg-Regular/nasalization rg.ttf') format('truetype');
        }

@font-face {
            font-family: 'Prestige-Signature' ;
            src: url('fontes/Prestige-Signature-Serif-Demo/Prestige Signature Serif - Demo.ttf') format('truetype');
        }

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

header {
  margin: 20px;
  border-radius: 10px;

  position: relative;
  z-index: 10;
}
nav {
background-image: url("imagens/IMG_7372.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 10px;

padding: 30px 0;
font-size: 13px;

display: flex;
justify-content: space-evenly;
align-items: center;

gap: 35px;
width: 100%;
}

nav a {
  color: beige;
  text-decoration: none;
}

header h1 {
  font-size: 70px;;
  line-height: 2;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 25px;
}

#introdution { 
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.4;
}

@media (max-width: 740px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;  
    text-align: center;
    width: 100%;
  }

  #imagem {
    position: absolute;
    left: 50px;
    top: 11%;
  }

  #imagem img {
    width: clamp(170px, 30vw, 300px);
  }

  header h1 {
    font-size: 15px;
    color: beige;
    position: absolute;
    left: 20px;
    top: 50px;
  }

  header h1 br {
    display: none;
  }
  
  header #marca {
    position: absolute;
    font-size: 5px;
    line-height: 1.1;
    color: rgb(0, 0, 0);
    
    top: 203px;
    left: 5px;
  }

  #esquerda {
    position: absolute;
    width: 5%;
    left: 7.5%;
    top: 15.5%;
  }

  #direita {
    position: absolute;
    width: 5%;
    left: 43%;
    top: 15.5%;
  }
}

main {
  background-color: #ffffff;
}


article.soluções {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 119px  20px 0px 20px;
  padding-top: 205px;
  height: 690px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(2, 800px);
  gap: 100px;
  justify-content: space-between;

  font-size: 58px;
  font-family: "EleganteClassica";
  color: rgb(18, 20, 17);
  line-height: 1.034;
  text-align: left;
}

article img#foto-soluções {
    margin: -277px -13px 121px 62px;
}

.features {
  background-image: url("imagens/BG-segundo.png");
  background-size: auto;        /* tamanho original */
  background-repeat: no-repeat;
  background-position: center; 
  height: 1803px;
  position: relative;
  margin: 195px 0px;
  padding: 10px 97px;
}


.features-overlay {
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 90px;
}

.feature {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 40px;

  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.num {
  color: #ffffff;
  font-style: italic;
  font-size: 58px;
  opacity: 0.8;
  
}

.feature p {
  color: #ffffff;
  font-family: "Playfair Display", serif; /* ou outra serif */
  font-size: 58px;
  line-height: 1;
  max-width: none;
  text-align: center;
}


article.experiencia {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 122px 20px 362px 20px;;
  padding-left: 222px;
  padding-top: 96px;
  height: 515px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(1, 800px);
  justify-content: space-between;
}

article.sobre {
  background-color: #f1ecec;
  border-radius: 20px;
  margin: -243px  20px 0px 20px;
  padding-top: 205px;
  height: 690px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(2, 800px);
  gap: 100px;
  justify-content: space-between;
}

article #caixa-sobre1 {
  margin: -201px 48px 23px -37px;
}

h2.b-botton {
  border-bottom: 1px solid rgb(0, 0, 0);
}

article #caixa-sobre {
  margin: 21px 55px 29px -77px;;
  
}

div #video {
    height: 544px;
    margin: -20px 0px 0px 79px;
}

div #circulo {
    position: absolute;
    width: clamp(76px, 2vw, 423px);
    right: 71%;
    top: 397%;
}

div #play {
    position: absolute;
    width: clamp(36px, 2vw, 72px);
    right: 72%;
    top: 399%;
}

aside.soluções {
  background-image: url(imagens/background-aside.png);
  font-family: "PierSans";
  font-size: 22px;
  margin: 366px  20px 0px 20px;
  padding-left: 235px;
  padding-top: 134px;
  height: 618px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(2, 800px);
  gap: 100px;
  justify-content: space-between;
}
div .dourado {
  color: #bfa373;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

div.caixa1-1 p {
  font-size: 20px;
  line-height: 1.3;
  text-align: justify;
  color: rgba(255, 255, 255, 0.733);
}

div.caixa1-1 h2 {
  font-size: 58px;
  font-family: "EleganteClassica";
  line-height: 1;
  color: white;
}

article.sobre h2 {
  font-size: 58px;
  font-family: "EleganteClassica";
  color: #000000;
  line-height: 1.034;
}
.grey {
  font-size: 20px;
  font-family: "PierSans";
  color: rgb(179, 180, 177);
  line-height: 1.091;
}

.gold {
  font-size: 20px;
  font-family: "PierSans";
  color: #bfa373;
  line-height: 1.091;
}


div.caixa1-2 {
  background-color: rgba(137, 43, 226, 0);
    margin-left: -11%;
    margin-top: -18%;
}


div#preto {
  color: black;
}

div #golf {
    margin: -207px 0px 0px -166px;
}

#caixa-sobre1 h2 {
    font-size: 58px;
    font-family: "serif";
    margin: -2px 56px 59px -2px;
    border-bottom: 1px dashed black;
    padding-bottom: 70px;
}

aside, article {
  margin: 25px
}

footer {
  background-image: url(imagens/logo-footer.png);
  background-repeat: no-repeat;
  margin: 162px  20px 10px 20px;
  height: 322px;
  padding: 0px 3px;
  border-radius: 20px;
  font-family: Arial, sans-serif;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
 
}


.caixas {
  background-color: rgba(250, 246, 246, 0);
  color: #CAB19D;
  margin: 70px;
  width: 300px;
  height: 50px;
  
}

footer #B {
  margin: 84px 30px 20px 23px;

}

footer #E {
  margin: 00px 30px 0px 86px;
}

footer #F {
      margin: -3px 30px 0px 50px;
}

footer #G {
      margin: -3px 30px 0px 65px;
}

footer #H {
  margin: -3px 4px 32px 86px
}




footer #A {
  color: #ffffff;
}

footer #D {
  color: #b4b4b4;
  position: relative;
}

#linkedin {
  background-image: url("Layer 34.png");
  position: absolute;
  left: 270px;
  top: 17px;
  width: 16px;
  height: 16px;
  z-index: 43;
}
#linkedin-b{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1645px;
  top: 3548px;
  left: 256px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 42;
}
#youtube {
  background-image: url("Layer 33.png");
  position: absolute;
  left: 1596px;
  top: 3564px;
  left: 206px;
  top: 18px;
  width: 16px;
  height: 14px;
  z-index: 39;
}

#youtube-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1581px;
  top: 3548px;
  left: 192px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 38;
}
#facebook {
  background-image: url("Layer 32.png");
  position: absolute;
  left: 1534px;
  top: 3563px;
  left: 145px;
  top: 17px;
  width: 10px;
  height: 16px;
  z-index: 35;
}
#facebook-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1516px;
  top: 3548px;
  left: 128px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 34;
}
#x {
  background-image: url("Layer 31.png");
  position: absolute;
  left: 1467px;
  top: 3563px;
  left: 78px;
  top: 17px;
  width: 16px;
  height: 16px;
  z-index: 31;
}

#x-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1452px;
  top: 3548px;
  left: 64px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 30;
}
#instagram {
  background-image: url("Layer 30.png");
  position: absolute;
  left: 1402px;
  top: 3563px;
  left: 14px;
  top: 17px;
  width: 16px;
  height: 16px;
  z-index: 27;
}
#instagram-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1387px;
  top: 3548px;
  left: 0px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 26;
}
.Layer_23 {
  background-image: url("Layer 23.png");
  position: absolute;
  left: 1266px;
  top: 3564px;
  width: 53px;
  height: 14px;
  z-index: 22;
}
.Ellipse {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1292px;
  top: 3548px;
  width: 44px;
  height: 44px;
  z-index: 21;
}
#C {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #d9c7b0;
  padding-bottom: 6px;
  width: 320px;
}

#C input {
  background: transparent;
  border: none;
  outline: none;
  color: #d9c7b0;
  flex: 1;
}

#C input::placeholder {
  color: #d9c7b0;
  font-size: 11px;
  letter-spacing: 1px;
}

.btn-seta {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #d9c7b0;
  background: transparent;
  color: #d9c7b0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

.icone-seta {
  width: 16px;
  height: 16px;
}

.btn-seta:hover {
  background: #d9c7b0;
  color: #020302;
}

.btn-seta:hover .icone-seta {
  transform: translateX(2px);
  transition: transform 0.3s ease;
}

#seta-position {
  position: absolute;
  left: 62.5%;
}