@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
            font-family: 'NasalizationRg-Regular' ;
            src: url('fontes/NasalizationRg-Regular/nasalization rg.ttf') format('truetype');
        }

@font-face {
            font-family: 'Prestige-Signature' ;
            src: url('fontes/Prestige-Signature-Serif-Demo/Prestige Signature Serif - Demo.ttf') format('truetype');
        }

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

header {
  min-height: clamp(360px, 90vh, 950px);
  margin: 20px;

  background-image: url("imagens/IMG_7372.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;

  border-radius: 10px;

  position: relative;
  z-index: 10;
}

#rt3 {
  margin: 85px 0px 0px 19px;
  width: 2%;
  height: 4%;
}


#rt2 {
  margin: 0px 0px 0px 19px;
  width: 2%;
  height: 4%;
}


#rt1 {
   margin: 0px 0px 0px 19px;
  width: 2%;
  height: 4%;
}


nav {
  padding: 30px 0;
  font-size: 13px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 35px;
  width: 100%;
}

nav a {
  color: beige;
  text-decoration: none;
}

header h1 {
  font-size: 70px;;
  line-height: 2;
  color: rgb(255, 255, 255);
  margin: 162px 0px 0px 0px;
  text-align: center;
}

header #marca {
  font-size: 12px;
  line-height: 1.1;
  color: rgb(255, 255, 255);
  margin: -95px -10px 1px 102px;
}

#introdution { 
    font-size: 19px;
    color: white;
    text-align: center;
    line-height: 1.1;
}



main {
  background-color: #ffffff;
}

article.primeiro {
  background-color: #ffffff;
  border-radius: 20px;
  margin: -115px 20px 0px 20px;
  padding-left: 222px;
  padding-top: 96px;
  height: 515px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(2, 800px);
  justify-content: space-between;
}

div.primeiro.texto {
  background-color: #f5e79f00;
  color: aliceblue;
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}

div.primeiro-img {
    margin-left: -17%;
    margin-top: -18%;
}

article.segundo {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 119px  20px 0px 20px;
  padding-top: 205px;
  height: 690px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(2, 800px);
  gap: 100px;
  justify-content: space-between;
}

article div.segundo-img {
    width: 738px;
    height: 634px;
    margin: -155px -13px 121px 151px;
}


article div.segundo-texto {
  margin: 21px 55px 29px -77px;
}

article.terceiro {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 122px 20px 362px 20px;;
  padding-left: 222px;
  padding-top: 96px;
  height: 515px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(2, 800px);
  justify-content: space-between;
}
article div.terceiro-texto {
  margin: 34px 0px 0px 0px;
}

article div.terceiro-img {
    margin: -93px -8px 157px -132px;
    height: 634px;
    width: 721px;
}

article.quarto {
  background-color: #f1ecec;
  border-radius: 20px;
  margin: 157px  20px 0px 20px;
  padding-top: 205px;
  height: 690px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(2, 800px);
  gap: 100px;
  justify-content: space-between;
}


div #video {
    height: 544px;
    margin: -20px 0px 0px 90px;
}

div #circulo {
    position: absolute;
    width: clamp(76px, 2vw, 423px);
    right: 71%;
    top: 376%;
}

div #play {
    position: absolute;
    width: clamp(36px, 2vw, 72px);
    right: 72%;
    top: 378%;
}

article div.quarto-texto {
  margin: 21px 55px 29px -77px;
}

aside.quinto {
  background-image: url(imagens/background-aside.png);
  font-family: "PierSans";
  font-size: 22px;
  margin: 366px  20px 0px 20px;
  padding-left: 235px;
  padding-top: 134px;
  height: 618px;

  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: repeat(2, 800px);
  gap: 100px;
  justify-content: space-between;
}

div.quinto-texto {
  background-color: #f5e79f00;
  color: aliceblue;
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}

div.quinto-img {
  margin: -345px 0px 0px -241px;
}


.grey {
  font-size: 20px;
  font-family: "PierSans";
  color: rgb(179, 180, 177);
  line-height: 1.3;
  text-align: justify;
}

.gold {
  font-size: 20px;
  font-family: "PierSans";
  color: #bfa373;
  line-height: 1.091;
}


div#preto {
  color: black;
  font-size: 58px;
  font-family: "EleganteClassica";
  line-height: 1;
}


h2 {
  font-size: 58px;
  font-family: "EleganteClassica";
  line-height: 1;
}

footer {
  background-image: url(imagens/logo-footer.png);
  background-repeat: no-repeat;
  margin: 162px  20px 10px 20px;
  height: 322px;
  padding: 0px 3px;
  border-radius: 20px;
  font-family: Arial, sans-serif;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
}


.caixas {
  background-color: rgba(250, 246, 246, 0);
  color: #CAB19D;
  margin: 70px;
  width: 300px;
  height: 50px;
}

footer #B {
  margin: 84px 30px 20px 23px;

}

footer #E {
  margin: 00px 30px 0px 86px;
}

footer #F {
      margin: -3px 30px 0px 50px;
}

footer #G {
      margin: -3px 30px 0px 65px;
}

footer #H {
  margin: -3px 4px 32px 86px
}

footer #A {
  color: #ffffff;
}

footer #D {
  color: #b4b4b4;
  margin: 5%;
  position: relative;
}

#linkedin {
  background-image: url("Layer 34.png");
  position: absolute;
  left: 1660px;
  top: 3563px;
  left: 270px;
  top: 17px;
  width: 16px;
  height: 16px;
  z-index: 43;
}

#linkedin-b{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1645px;
  top: 3548px;
  left: 256px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 42;
}
#youtube {
  background-image: url("Layer 33.png");
  position: absolute;
  left: 1596px;
  top: 3564px;
  left: 206px;
  top: 18px;
  width: 16px;
  height: 14px;
  z-index: 39;
}

#youtube-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1581px;
  top: 3548px;
  left: 192px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 38;
}
#facebook {
  background-image: url("Layer 32.png");
  position: absolute;
  left: 1534px;
  top: 3563px;
  left: 145px;
  top: 17px;
  width: 10px;
  height: 16px;
  z-index: 35;
}
#facebook-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1516px;
  top: 3548px;
  left: 128px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 34;
}

#x {
  background-image: url("Layer 31.png");
  position: absolute;
  left: 1467px;
  top: 3563px;
  left: 78px;
  top: 17px;
  width: 16px;
  height: 16px;
  z-index: 31;
}

#x-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1452px;
  top: 3548px;
  left: 64px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 30;
}

#instagram {
  background-image: url("Layer 30.png");
  position: absolute;
  left: 1402px;
  top: 3563px;
  left: 14px;
  top: 17px;
  width: 16px;
  height: 16px;
  z-index: 27;
}

#instagram-b {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1387px;
  top: 3548px;
  left: 0px;
  top: 3px;
  width: 44px;
  height: 44px;
  z-index: 26;
}
.Layer_23 {
  background-image: url("Layer 23.png");
  position: absolute;
  left: 1266px;
  top: 3564px;
  width: 53px;
  height: 14px;
  z-index: 22;
}

.Ellipse {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 176, 156);
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 0);
  position: absolute;
  left: 1292px;
  top: 3548px;
  width: 44px;
  height: 44px;
  z-index: 21;
}


#C {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #d9c7b0;
  padding-bottom: 6px;
  width: 320px;
}

#C input {
  background: transparent;
  border: none;
  outline: none;
  color: #d9c7b0;
  flex: 1;
}

#C input::placeholder {
  color: #d9c7b0;
  font-size: 11px;
  letter-spacing: 1px;
}

.btn-seta {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #d9c7b0;
  background: transparent;
  color: #d9c7b0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

.icone-seta {
  width: 16px;
  height: 16px;
}

.btn-seta:hover {
  background: #d9c7b0;
  color: #020302;
}

.btn-seta:hover .icone-seta {
  transform: translateX(2px);
  transition: transform 0.3s ease;
}

#seta-position {
  position: absolute;
  left: 62.5%;
}